{% extends "base.html.twig" %}
{% block body %}
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Hello,Norsys!</h1>
                <p>This is a Homepage.</p>
                <p>This is app is for learning symfony</p>
                <p><a class="btn btn-primary btn-lg" href="/About" role="button">Learn more »</a></p>
                <p><a class="btn btn-primary btn-lg" href="{{ path('addOrder') }}" role="button">Add Order</a></p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <h3>Last 3 products added</h3>

            <div class="row">
                {% for product in products %}
                    <div class="card" style="display: inline-flex; margin: 40px;">
                        <img src="{{ product.imageURL }}" class="card-img-top" style="width: 250px; height: 200px">
                        <div class="card-body">
                            <a href="{{ path('product_show', {'id': product.id}) }}" style="text-decoration: none"><h6 class="card-title" >{{ product.name }} </h6></a>
                            <h3 class="card-title" style="color: darkblue; font-weight: bold"> {{ product.price }} $</h3>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-4">
                        <td colspan="8">no records found</td>
                    </div>
                {% endfor %}
            </div>

            <hr>

        </div> <!-- /container -->
{% endblock %}