{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>
    <br>
    <a href="{{ path('product_new') }}">
        <button type="button" class="btn btn-success">Create New Product</button>
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>ImageURL</th>
                <th>CreateAt</th>
                <th>actions</th>
                <th>Order it</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <img src="{{ product.imageURL }}" class="card-img-top" style="width: 250px; height: 200px">
                </td>
                <td>{{ product.createAt ? product.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">
                        <button type="button" class="btn btn-success">Show</button>
                    </a>
                </td>
                <td>
                    {% if product.quantity>0 %}
                    <form method="POST" action="{{path("AddOrderDetail")}}">
                        <input type="hidden" value="{{product.id}}" name="productID"/>
                        <input type="number" value="1" id="CommandQuantity" name="CommandQuantity" min="1" max="{{ product.quantity }}"/>
                        <input class="btn btn-danger" type="submit" value="Order it"/>
                    </form>
                    {% else %}
                        not available
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
