{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>
    <br>
    <a href="{{ path('product_new') }}">
        <button type="button" class="btn btn-success">Create New Product</button>
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>ImageURL</th>
                <th>CreateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <img src="{{ product.imageURL }}" class="card-img-top" style="width: 250px; height: 200px">
                </td>
                <td>{{ product.createAt ? product.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">
                        <button type="button" class="btn btn-success">Show</button>
                    </a>
                    <br>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">
                        <button type="button" class="btn btn-danger">Edit</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
